.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20%;
}

.skills-container {
    color: var(--color-primary);
    margin-top: 40%;
}

.lang-container {
    color: var(--color-primary);
    margin-top: 20%;
    align-self: flex-start;
    margin-left: 20%;
}

.typing-demo {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-bg);
    color: var(--color-primary);
    font-family: monospace;
    white-space: pre-wrap;
}
.typing-demo::after {
    content: "|";
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }